# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

**/node_modules
.DS_Store
dist
dist-ssr
coverage
target
*.local
.vite
.eslintcache
**/.vitepress/temp
**/.vitepress/cache
**/*vite*timestamp*
html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

config.json